<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메모장 1.0</title>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <div class="container mx-auto px-8">
    <div class="wrap">
      <div class="flex justify-center my-5">
        <div class="input-container basis-full md:basis-1/2 lg:basis-1/3 card flex flex-col gap-3 justify-center border border-solid shadow-md rounded-md px-5 py-5">
          <div class="place-self-center">
            <h2 id="input-type-desc" class="text-xl font-bold underline">새 메모 등록하기</h2>
          </div>
          <div class="place-self-auto">
            <label for="title" class="block text-sm font-bold leading-6 text-gray-900">Title</label>
            <input type="text" id="input-title" name="title" placeholder="제목을 입력하세요" class="block w-full rounded-md border-0 py-1.5 bg-transparent text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
          <div class="place-self-auto">
            <label for="message" class="block text-sm font-bold leading-6 text-gray-900">Content</label>
            <textarea name="message" id="input-text" placeholder="내용을 입력하세요" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
          </div>
          <div class="place-self-end">
            <button type="submit" id="submit-btn" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" onclick="uploadPost()">저장하기</button>
          </div>
        </div>
      </div>

      <div id="card-list" class="card-columns m-auto grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-8 mb-5">
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>

    <script>
      function uploadPost() {
        let title = $("#input-title").val();
        let message = $("#input-text").val();

        $.ajax({
          type: "post",
          url: "/create",
          data: { title: title, message: message },
          success: function (resp) {
            console.log(resp);
            alert('저장완료' + resp);
            window.location = "/";
          }
        })
      }

      function getvalue(id, title, message) {
        // 수정 버튼을 누르면 값이 채워지도록 만드는 함수
        $('#input-type-desc').text('메모 수정하기');
        $('#input-title').val(title);
        $('#input-text').val(message);

        $('#submit-btn').text('수정완료');
        $('#submit-btn').removeAttr("onclick");
        $('#submit-btn').attr("onclick", `updatePost(${id})`);
      }

      function updatePost(id) {
        // 수정완료 버튼을 누르면 값이 변하도록 db 보내는 함수
        let title = $('#input-title').val();
        let message = $('#input-text').val();
        $.ajax({
          type: "post",
          url: "/update",
          data: { id: id, title: title, message: message },
          success: function (resp) {
            alert('수정완료' + resp);
            window.location = '/';
          }
        })
      }

      function deletePost(id) {
        $.ajax({
          type: "post",
          url: "/delete",
          data: { id: id },
          success: function (resp) {
            alert('삭제완료' + resp);
            window.location = '/';
          }
        })
      }

      function makeCard(id, title, message) {
        let card_content =
          `
          <div class="text-center border border-solid shadow-md rounded-md grid grid-cols-1 divide-y">
            <div class="px-2 py-5">
              <h3 class="text-lg font-semibold text-gray-900 group-hover:text-gray-600" id="input-title">${title}</a>
              <p class="text-sm font-normal text-gray-600" id="input-text">${message}</p>
            </div>
            <div class="grid grid-cols-2 divide-x">
              <div class="rounded-bl-md py-2 font-medium hover:bg-gray-200 hover:cursor-pointer" onclick="getvalue(${id}, '${title}', '${message}')">수정</div>
              <div class="rounded-br-md py-2 font-medium hover:bg-gray-200 hover:cursor-pointer" onclick="deletePost(${id})">삭제</div>
            </div>
          </div>
          `
        $("#card-list").append(card_content);
      }

      $('document').ready(function () {
        console.log('document is ready')
        $.ajax({
          type: "get",
          url: "/list",
          data: {},
          success: function (resp) {
            console.log(resp)
            for (let i = 0; i < resp.length; i++) {
              makeCard(resp[i]['id'], resp[i]['title'], resp[i]['message']);
            }
          }
        })
      })
    </script>
</body>

</html>