#calendar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 10px;
  border-color: black;
}

th {
  width : 14%;
  height: 30px;
}

img{
  border-radius: 5%;
}

img:hover{
  opacity: 50%;
}