<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <style>
    .card-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .card-short-desc {
      max-height: 300px;
      overflow-y: scroll;
    }
  </style>
</head>

<body>
  <div class="container">
    <h2>Daily Ranking : {{date}}</h2>
    <div class="card-container">
      {% for movie in movies %}
      <div class="card col-sm-6 col-md-3">
        <img src="{{ movie.img_url }}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">
            {{ movie.title }}
          </h5>
          <p class="card-text">
            평점 {{ movie.grade }}
          </p>
          <p class="card-text">
            예매율 {{ movie.rate }}%
          </p>
          <p class="card-text card-short-desc">
            {{ movie.short_desc }}
          </p>
          <a href="https://movie.daum.net{{ movie.link }}" class="btn btn-primary">Go Link</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>