<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hello</title>
</head>

<body>
  <h1>hello</h1>
  <table border='1'>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Birthdate</th>
      <th>Address</th>
    </tr>
      {% for user in usernames %}
      <tr>
        {% for item in user %}
        <td>{{item}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
  </table>
  <p>from index.html file!</p>
</body>
</html>